* {
    margin: 0;
    padding: 0;
    font-family: 'Gabarito', sans-serif;
}

body {
    background-color: rgb(78, 78, 78);
    overflow-x: hidden;
}

.section {
    display: grid;
    width: 100%;
    place-items: center;
    grid-template-columns: 100%;
    background-color: rgb(255, 0, 0);
    padding-bottom: 1vh;
}


.transition-section {
    background-color: rgb(22, 25, 31);
    transition: background-color 0.5s ease-in-out;
}

.transition-section:nth-child(odd) {
    background-color: white;
}

.img__sangue {
    position: absolute;
    left: 0%;
}

.title__container {
    margin: 3vh 0 3vh 0;
}

.paragrafos {
    color: #fff;
    font-size: 1.1em;
    margin-left: 1.2em;
}

.grid {
    display: grid;
    grid-template-columns: 80% 20%;
    margin-left: 1.1em;
}

.grid-2 {
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    margin-left: 1.1em;
}

.h3__sangue {
    color: rgb(255, 0, 0);
}

.texts__sangue h5 {
    color: rgb(255, 255, 255);
}

.section_2 {
    display: grid;
    place-items: center;
    padding-top: 7vh;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20vh;
}

.section_2 div {
    margin-bottom: 7vh;
}

.button_clique {
    text-decoration: none;
    color: #fff;
    background-color: blue;
    border-radius: 16px;
    padding: 10px;
}

.button_clique:hover {
    color: rgb(189, 189, 189);
}

.section_3 {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    background-color: rgb(0, 0, 0);
    padding-bottom: 1vh;
}

.div_3 {
    margin-top: 7vh;
}

.celulastronco {
    color: rgb(253, 255, 138);
}

h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.1em;
}